<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView DefaultLayout="@typeof(MainLayout)" RouteData="@routeData">
                <NotAuthorized>
                    <h1>
                        Not logged in!
                    </h1>

                    <p>
                        Sign in to perform administrative tasks.
                    </p>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>
                Not found
            </PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">
                    Sorry, there's nothing at this address.
                </p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>